* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}
span {
    color: #4DA8DA;
    font-weight: 700;
}
ul {
    list-style-position: inside;
    li {
    margin-top: 0.3em;

    }}
    